@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root {
  --size-text: 1rem;
  --size-title: 1.5rem;
  --size-subtitle: 0.5rem;
  --size-numbers: 2rem;

  --color-primary: #222831;
  --color-secondary: #393e46;
  --color-accent: #ffd369;
  --color-dark: #000;
  --color-light: #eeeeee;

  --family-text: "Roboto", sans-serif;
  --family-title: "Roboto", sans-serif;
}

html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: inherit;
  text-transform: inherit;
  color: inherit;
  list-style: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
}

body {
  font-size: var(--size-text);
  color: var(--color-light);
  list-style: none;
  font-family: var(--family-text);
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  line-height: 1.6;
  background: rgb(243, 243, 243);
  background: linear-gradient(
    0deg,
    rgba(243, 243, 243, 1) 0%,
    rgba(255, 211, 105, 1) 88%
  );
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-container {
  max-width: 20%;
  background-color: var(--color-accent);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.output {
  width: 100%;
  background-color: var(--color-dark);
  color: var(--color-accent);
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.general-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.button {
  cursor: pointer;
  text-align: center;
  min-width: 18%;
  padding: 0.6rem 0.6rem;
  margin-bottom: 0.5rem;
  margin-left: 0.2rem;
  border-radius: 2px;
  background-color: var(--color-secondary);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  transition: 0.2s ease;
}

.button:hover {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.button:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(3, 102, 214, 0.3) 0px 18px 36px -18px inset;
}
